<div class="row">
    <div class="col-md-6">
        <div class="card" style="width:700px;">
            <div class="row">
                <div class="offset-1 col-md-10 col-sm-6">
                    <div class="text">Please fill out the form below to request<br> a quote for a project, inquire about
                        a<br>
                        collaboration, or simply say hello.</div>
                </div>
            </div>

            <!-- Form Code -->
            <form [formGroup]="exampleForm" (ngSubmit)="onSubmit()">
                <div class="offset-1 row mt-4">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label>
                                Name:
                            </label>
                            <input type="text" formControlName="firstname" />
                            <small class="form-text">First Name</small>
                            <div *ngIf="exampleForm.get('firstname')?.touched && exampleForm.get('firstname')?.invalid">
                                <!-- <div *ngIf="exampleForm.get('name')?.errors?.required">Name is required.</div>
                    <div *ngIf="exampleForm.get('name')?.errors?.minlength">Name must be at least {{ exampleForm.get('name')?.errors?.minlength.requiredLength }} characters long.</div> -->
                            </div>
                        </div>
                    </div>

                    <div class="offset-1 row mt-4">
                        <div class="col-md-5">
                            <div class="form-group">
                                <input type="text" formControlName="lastname" autocomplete="additional-name" />
                                <small class="form-text">First Name</small>
                                <div
                                    *ngIf="exampleForm.get('lastname')?.touched && exampleForm.get('lastname')?.invalid">
                                    <!-- <div *ngIf="exampleForm.get('name')?.errors?.required">Name is required.</div>
                      <div *ngIf="exampleForm.get('name')?.errors?.minlength">Name must be at least {{ exampleForm.get('name')?.errors?.minlength.requiredLength }} characters long.</div> -->
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="offset-1 row mt-4">
                    <div class="col-md-10">
                        <div class="form-group">
                            <label>
                                Email:
                                <input type="email" formControlName="email" />
                            </label>
                            <div *ngIf="exampleForm.get('email')?.touched && exampleForm.get('email')?.invalid">
                                <!-- <div *ngIf="exampleForm.get('email').errors.required">Email is required.</div> -->
                                <!-- <div *ngIf="exampleForm.get('email').errors.email">Invalid email format.</div> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="offset-1 row mt-4">
                    <div class="col-md-10">
                        <div class="form-group">
                            <label>
                                Subject:
                                <input type="text" formControlName="subject" />
                            </label>
                            <div *ngIf="exampleForm.get('subject')?.touched && exampleForm.get('subject')?.invalid">
                                <!-- <div *ngIf="exampleForm.get('email').errors.required">Email is required.</div> -->
                                <!-- <div *ngIf="exampleForm.get('email').errors.email">Invalid email format.</div> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="offset-1 row mt-4">
                    <div class="col-md-10">
                        <div class="form-group">
                            <label>
                                Message:
                                <input type="text" formControlName="message" />
                            </label>
                            <div *ngIf="exampleForm.get('message')?.touched && exampleForm.get('message')?.invalid">
                                <!-- <div *ngIf="exampleForm.get('email').errors.required">Email is required.</div> -->
                                <!-- <div *ngIf="exampleForm.get('email').errors.email">Invalid email format.</div> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="offset-1 row mt-4">
                    <div class="col">
                        <button type="submit" [disabled]="exampleForm.invalid || exampleForm.pristine">Submit</button>
                    </div>
                </div>
                        
                    
            </form>
        </div>
    </div>
    <!-- Map  -->
    <div class="offset-1 col-md-4">
        <div class="card second" style="width:500px;">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d115681.29592731265!2d-77.47713270775661!3d25.0326996781907!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x892f7c99b981dbc9%3A0x2aef01d3485e50d2!2sNassau%2C%20Bahamy!5e0!3m2!1spl!2spl!4v1624445118063!5m2!1spl!2spl"
                class="w-50" height="400" loading="lazy"></iframe>
        </div>
    </div>
</div>

<!-- Info Area -->
<!-- <div class="row mt-4">
    <div class="offset-1 col-md-2">
        <h4>Email</h4>
    </div>
    <div class="offset-1 col-md-2">
        <h4>info@ks-technologies.net</h4>
    </div>
</div>
<div class="row mt-4">

    <div class="offset-1 col-md-2">
        <h4>Number</h4>
    </div>
    <div class="offset-1 col-md-2">
        <h4>(042) 37862807</h4>
    </div>
</div> -->