footer {
    width: 100%;
    padding: 19px;
    margin: 1px;
    background-image: url(../../../assets/FooterImage.jpg);
}

.text {
    font-family: outfit;
}

.data1 {
    font-family: outfit;

}

.end {
    background-color: #29416F;
    color: aliceblue;
    font-family: outfit;
    display: flex;
}

.end1 {
    text-align: end;
    font-family: outfit;
  
}

.btn1 {
    color: #29416F;
    padding: 10px;
    margin: 1px;
}

.btn2 {
    padding: 10px;
}

.btn3 {
    padding: 10px;
}

.iconss {
    color: #29416F;
    
}