.d-flex button {
    background-color: #29416F;
    color: white;
    width: 100%;
    border-radius: 8px;

    font-family: 'Outfit', sans-serif;
    font-weight: 300;

}

.nav-item {
    margin: 0px 15px !important;
}

.d-flex button:hover {
    background-color: #5EBE80;

}

.navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    overflow: hidden;
    font-family: 'Outfit', sans-serif;
    font-weight: 650;
}

.navbar-brand img {
    position: relative;
    left: 150px;

}

.d-flex {
    width: 10% !important;
}