.card {
    background-color: #F2F2F2;
    border: none;
}

.card:hover {
    background-color: #5EBE80 !important;
    color: #F2F2F2 !important;
    background-size: 100% 100%;
    transition: .3s;
    cursor: pointer;
}

.text-center {
    font-weight: 600;
    font-size: 30px;
    line-height: 46px;
    color: #000000;
}

.text {
    color: #29416F;
}

.rating {
    color: #F2C94C;
}

p {
    text-transform: justify !important;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    /* number of lines to show */
    line-clamp: 5;
    -webkit-box-orient: vertical;
}

/* For x-small */
@media only screen and (min-width:200px) and (max-width:400px) {
    .card {
        margin-top: 20px;
    }

    p {
        font-size: 12px;
    }

    .text {
        font-size: 12px;
    }

    .rating {

        font-size: 12px;
    }
}


/* For small */
@media only screen and (min-width:401px) and (max-width: 576px) {
    .card {
        margin-top: 20px;
    }
}


/* For medium */
@media only screen and (min-width:577px) and (max-width: 768px) {
    .card {
        margin-top: 20px;
    }

}


/* For Large*/
@media only screen and (min-width:769px) and (max-width: 1039px) {
    .card {
        margin-top: 20px;
    }

    p {
        font-size: 13px;
    }

    .rating {

        font-size: 12px;
        margin-left: 50px;
    }

    .text {
        font-size: 12px;
    }
}


/* For x-Large*/
@media only screen and (min-width:1040px) and (max-width: 1700px) {}


/* For x-x-Large*/
@media only screen and (min-width:1700px) and (max-width: 2200px) {}