<div>
    <h2 class="mb-5 mt-5 text-center">
        <span style="font-family: Outfit; font-size: 30px;font-weight:600;">Satisfied Clients Say</span>
    </h2>
</div>
<div class="row row-cols-1  row-cols-md-3 mt-4 container mx-auto">
    <div class="col">
        <div class="card box7">
            <div class="card-body">
                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting
                    industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                <div class="row">
                    <div class="col">
                        <img src="../../../../assets/HomePage-images/Ellipse 1.png" class="">
                    </div>
                    <div class="col">
                        <strong class="star">Ben Arthur </strong>
                        <h6 class="designate">Designation</h6>
                    </div>
                    <div class="col">
                        <rating style="color: #F2C94C;font-size:18px;" [(ngModel)]="rate" [max]="max"
                            [readonly]="isReadonly"></rating>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card box8">
            <div class="card-body">
                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting
                    industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                <div class="row">
                    <div class="col">
                        <img src="../../../../assets/HomePage-images/elipse2.png" class="">
                    </div>
                    <div class="col">
                        <strong class="star">Ben Arthur </strong>
                        <h6 class="designate">Designation</h6>
                    </div>
                    <div class="col">
                        <rating style="color: #F2C94C;font-size:18px;" [(ngModel)]="rate" [max]="max"
                            [readonly]="isReadonly"></rating>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col ">
        <div class="card box9">
            <div class="card-body">
                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting
                    industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                <div class="row">
                    <div class="col">
                        <img src="../../../../assets/HomePage-images/Ellipse 3.png" class="">
                    </div>
                    <div class="col">
                        <strong class="star">Ben Arthur </strong>
                        <h6 class="designate">Designation</h6>
                    </div>
                    <div class="col">
                        <rating style="color: #F2C94C;font-size:18px;" [(ngModel)]="rate" [max]="max"
                            [readonly]="isReadonly"></rating>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
