<div class="container-fluid  clients ">
    <div class="row ">
        <div class=" col offset-1 icon1">
            <img src="../../../../assets/HomePage-images/Mask group.png" class="img-fluid" alt="imagenotfound">
        </div>
        <div class="col icon2">
            <img src="../../../../assets/HomePage-images/Mask group (1).png" class="img-fluid" alt="imagenotfound">
        </div>
        <div class="col icon3">
            <img src="../../../../assets/HomePage-images/Mask group3.png" class="img-fluid" alt="imagenotfound">
        </div>
        <div class="col icon4">
            <img src="../../../../assets/HomePage-images/Mask group (4).png" class="img-fluid" alt="imagenotfound">
        </div>
        <div class="col icon5">
            <img src="../../../../assets/HomePage-images/Mask group (5).png" class="img-fluid" alt="imagenotfound">
        </div>
        <div class="col icon6">
            <img src="../../../../assets/HomePage-images/Mask group (6).png" class="img-fluid" alt="imagenotfound">
        </div>
        <div class="col icon6">

        </div>
    </div>
</div>