<div class="container-fluid">
    <div class="row">
        <div class="col offset-1 brand-logos icon">
            <img src="../../../../../assets/HomePage-images/White client logo/Zwhite.svg" class="zoey-logo"
                alt="zoeyLogo">
        </div>
        <div class="col icon brand-logos">
            <img src="../../../../../assets/HomePage-images/White client logo/Jihaan-w.svg" class="jihaan-logo"
                alt="Jihaan Clothing">
        </div>
        <div class="col brand-logos icon">
            <img src="../../../../../assets/HomePage-images/White client logo/palmvilla.svg" class="palm-villas-logo"
                alt="palm Villas">
        </div>
        <div class="col icon brand-logos">
            <img src="../../../../../assets/HomePage-images/White client logo/mvintage.svg" class="mintage-logo"
                alt="Mintage">
        </div>
        <div class="col icon brand-logos">
            <img src="../../../../../assets/HomePage-images/White client logo/enmass.svg" class="enmas-logo"
                alt="EnMass Energy">
        </div>
        <div class="col icon brand-logos">
            <img src="../../../../../assets/HomePage-images/White client logo/KSDS-White.svg" class="ksd-logo"
                alt="khalil Sons Developers">
        </div>

        <!-- <div class="col icon brand-logos">

        </div> -->
    </div>
</div>