<div class="container-fluid">
    <div class="row ">
        <div class=" col offset-1 icon">
            <img src="../../../../assets/HomePage-images/Mask group.png" class="img-fluid" alt="imagenotfound">
        </div>
        <div class="col icon">
            <img src="../../../../assets/HomePage-images/Mask group (1).png" class="img-fluid" alt="imagenotfound">
        </div>
        <div class="col icon">
            <img src="../../../../assets/HomePage-images/Mask group3.png" class="img-fluid" alt="imagenotfound">
        </div>
        <div class="col icon">
            <img src="../../../../assets/HomePage-images/Mask group (4).png" class="img-fluid" alt="imagenotfound">
        </div>
        <div class="col icon">
            <img src="../../../../assets/HomePage-images/Mask group (5).png" class="img-fluid" alt="imagenotfound">
        </div>
        <div class="col icon">
            <img src="../../../../assets/HomePage-images/Mask group (6).png" class="img-fluid" alt="imagenotfound">
        </div>
        <div class="col icon">

        </div>
    </div>
</div>