<footer class="row row-cols-5 py-5 my-1 container-fluid mt-4 border-top">
    <div class="col container mx-auto">
        <a class="align-items-center mb-3">
            <img src="../../../assets/Footer-images/KSTLogo6.png" class="img-fluid" alt="image not found">
        </a>
    </div>
    <!-- Page Links -->
    <div class="col">
        <h5>Page Links</h5>
        <div class="menu">
            <ul class="nav flex-column menu-items">
                <li class="nav-item mb-2">
                    <div>
                        <fa-icon [icon]="home">
                        </fa-icon>
                        <a routerLink="home" routerLinkActive="active" ariaCurrentWhenActive="page" class=" icon p-0">
                            Home</a>
                    </div>
                </li>
                <li class="nav-item mb-2">
                    <div>
                        <fa-icon [icon]="aboutus">
                        </fa-icon>
                        <a routerLink="about" routerLinkActive="active" ariaCurrentWhenActive="page" class=" icon p-0">
                            About</a>
                    </div>
                </li>
                <li class="nav-item mb-2">
                    <div>
                        <fa-icon [icon]="services">
                        </fa-icon>
                        <a routerLink="services" routerLinkActive="active" ariaCurrentWhenActive="page"
                            class=" icon p-0"> Our Services</a>
                    </div>
                </li>
                <li class="nav-item mb-2">
                    <div>
                        <fa-icon [icon]="blognews">
                        </fa-icon>
                        <a routerLink="blog&news" routerLinkActive="active" ariaCurrentWhenActive="page"
                            class=" icon p-0"> Blog & News</a>
                    </div>
                </li>
                <li class="nav-item mb-2">
                    <div>
                        <fa-icon [icon]="portfolio">
                        </fa-icon>
                        <a routerLink="portfolio" routerLinkActive="active" ariaCurrentWhenActive="page"
                            class=" icon p-0"> Portfolio</a>
                    </div>
                </li>
                <li class="nav-item mb-2">
                    <div>
                        <fa-icon [icon]="jobs">
                        </fa-icon>
                        <a routerLink="jobs" routerLinkActive="active" ariaCurrentWhenActive="page" class=" icon p-0">
                            Jobs</a>
                    </div>
                </li>
                <li class="nav-item mb-2">
                    <div>
                        <fa-icon [icon]="contactus">
                        </fa-icon>
                        <a routerLink="contact" routerLinkActive="active" ariaCurrentWhenActive="page"
                            class=" icon p-0"> Contact Us</a>
                    </div>
                </li>

            </ul>
        </div>

    </div>

    <!-- Contact Info -->
    <div class="col">
        <h5>Contact Info</h5>
        <ul class="nav flex-column menu-items">
            <li class="nav-item mb-2">
                <fa-icon [icon]="number">
                </fa-icon>
                <a href="#" class=" icon p-0"> (042) 37862807
                </a>
            </li>
            <li class="nav-item mb-2">
                <fa-icon [icon]="env">
                </fa-icon>
                <a href="#" class="icon p-0"> info@ks-technologies.net
                </a>
            </li>
            <li class="nav-item mb-2">
                <fa-icon [icon]="locate">
                </fa-icon>
                <a href="#" class="icon p-0"> Palm Tower, Bahria Town
                </a>
            </li>
        </ul>
    </div>

    <!-- Social Media -->
    <div class="col">
        <h5>Social Media</h5>
        <ul class="nav flex-row iconss">
            <div class="socialIcon">
                <fa-icon [icon]="facebook">
                </fa-icon>
            </div>
            <div class="socialIcon">
                <fa-icon [icon]="insta">
                </fa-icon>
            </div>
            <div class="socialIcon">
                <fa-icon [icon]="myLinkedinIcon">
                </fa-icon>
            </div>
        </ul>
    </div>
</footer>

<!-- Blue-container -->
<div class="container-fluid">
    <div class="row">
        <div class="text">
            <p>Copyright 2023 © All Right Reserved Design by KS-Technologies</p>
        </div>
        <div class="text-end">
            <a routerLink="privacy-policy">Privacy Policy</a>
        </div>
    </div>
</div>