<footer class="row row-cols-5 py-5 my-1 container-fluid mt-4 border-top">
    <div class="col container mx-auto ">
        
        <a class="d-flex align-items-center mb-3 text-decoration-none">
            <img src="../../../assets/Footer-images/KSTLogo6.png" alt="image not found">
        </a>
        <!-- <p class="text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
            the industry's standard dummy text ever since the 1500s</p> -->
    </div>
    <div class="col md-4 lg-4">
        <h5><span style="color: #29416F; font-family: outfit;">Page Links</span></h5>
        <ul class="nav flex-column data1">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0"><fa-icon [icon]="home"></fa-icon> Home</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0"><fa-icon [icon]="aboutus"></fa-icon>About</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0"><fa-icon [icon]="services"></fa-icon>Our services</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0"><fa-icon [icon]="blognews"></fa-icon>Blog & News</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0"><fa-icon [icon]="portfolio"></fa-icon>Portfolio</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0"><fa-icon [icon]="jobs"></fa-icon>Jobs</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0"><fa-icon [icon]="contactus"></fa-icon>Contact Us</a></li>
            
        </ul>
    </div>

    <div class="col md-4 lg-4">
        <h5><span style="color: #29416F; font-family: outfit;">Contact Info</span></h5>
        <ul class="nav flex-column data1">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0"><fa-icon [icon]="number"></fa-icon>(042) 37862807</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0"><fa-icon [icon]="env"></fa-icon>info@ks-technologies.net</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0"><fa-icon [icon]="locate"></fa-icon>Palm Tower, Bahria Town</a></li>
        </ul>
    </div>

    <div class="col md-4 lg-4">
        <h5><span style="color: #29416F; font-family: outfit;">Social Media</span></h5>
        <ul class="nav flex-row iconss">
            <div class="div btn1"><fa-icon [icon]="myLinkedinIcon"></fa-icon></div>
            <div class="div btn2"><fa-icon [icon]="facebook"></fa-icon></div>
            <div class="div btn3"><fa-icon [icon]="insta"></fa-icon></div>
            
        </ul>
    </div>
</footer>
<div class="ftr container-fluid p-0">
    <div class="end  container">
        <p>Copyright 2023 © All Right Reserved Design by KS-Technologies</p> 
        <div class="end1">
            <p>Privacy Policy</p>
        </div>
    </div>
    
</div>

