footer {
    width: 100%;
    padding: 19px;
    margin: 1px;
    background-image: url(../../../../assets/Footer-images/FooterImage.jpg);
}

.icon {
    text-decoration: none;
    color: var(--secondary-color);
}

.menu-items {
    color: var(--primary-color);
}

.col {
    color: var(--secondary-color);
}

/* Social Icons */

.socialIcon:hover {
    color: var(--primary-color) !important;
    transition: transform .2s;
    height: 35px;
    width: 35px;
    cursor: pointer;
}

.socialIcon {
    color: var(--secondary-color);
    padding: 10px;
    margin: 1px;
    height: 25px;
    width: 25px;
}

.container-fluid {
    background-color: var(--secondary-color);
    /* overflow: hidden; */
}

.text {
    color: white;
    /* margin-top: 16px; */
    /* padding: 7px; */
}

.text-end {
    color: white;
    /* margin-top: 16px; */
    text-align: end !important;

}


/* For x-small */
@media only screen and (min-width:200px) and (max-width:400px) {
    .icon {
        font-size: 10px;
    }

    .menu-items {
        font-size: 10px;
    }

    .socialIcon {
        font-size: 10px;
    }

    h5 {
        font-size: 15px;
    }

    .container {
        font-size: 11px;
    }

    .text {
        font-size: 10px;
    }

    .text-end {
        font-size: 10px;
    }
}


/* For small */
@media only screen and (min-width:401px) and (max-width: 576px) {
    .icon {
        font-size: 11px;
    }

    .menu-items {
        font-size: 11px;
    }

    .socialIcon {
        font-size: 11px;
    }

    h5 {
        font-size: 15px;
    }

    .container {
        font-size: 12px;
    }

    .text {
        font-size: 11px;
    }

    .text-end {
        font-size: 11px;
    }
}


/* For medium */
@media only screen and (min-width:577px) and (max-width: 768px) {}


/* For Large*/
@media only screen and (min-width:769px) and (max-width: 1039px) {
    .text {
        text-align: center !important;
    }
}


/* For x-Large*/
@media only screen and (min-width:1040px) and (max-width: 1700px) {
    .text {
        text-align: center !important;
    }
}