footer {
    width: 100%;
    padding: 19px;
    margin: 1px;
    background-image: url(../../../../assets/Footer-images/FooterImage.jpg);
}

.icon {
    text-decoration: none;
    color: var(--secondary-color);
    font-family: 'outfit';
}

.menu-items {
    color: var(--primary-color);
}

.col {
    color: var(--secondary-color);
    font-family: 'outfit';
}

/* Social Icons */

.socialIcon:hover {
    color: var(--primary-color) !important;
    transition: transform .2s;
    height: 35px;
    width: 35px;
    cursor: pointer;
}

.socialIcon {
    color: var(--secondary-color);
    padding: 10px;
    margin: 1px;
    height: 25px;
    width: 25px;
}

.container-fluid.p-0 {
    background-color: var(--secondary-color);
    padding: 0px !important;
    margin: 0px !important;
    overflow: hidden;
}

.col-md-5 {
    color: white;
    font-family: 'outfit';
    margin-top: 16px;
    padding: 7px;
}

.col-md-2 {
    color: white;
    font-family: 'outfit';
    margin-top: 16px;
    text-decoration: none !important;

}

/* For Mobile*/
@media only screen and (min-width:100px) and (max-width: 500px) {
    .icon {
        font-size: 10px;
    }

    .menu-items {
        font-size: 10px;
    }

    .socialIcon {
        font-size: 10px;
    }

    h5 {
        font-size: 15px;
    }

    .container {
        font-size: 11px;
    }

    .image-fluid {
        width: 80px;

    }
}

/* For large*/
@media only screen and (min-width:501px) and (max-width: 1000px) {
    .icon {
        font-size: 15px;
    }

    .menu-items {
        font-size: 15px;
    }

    .socialIcon {
        font-size: 15px;
    }

    h5 {
        font-size: 20px;
    }

    .container {
        font-size: 15px;
    }

    .image-fluid {
        width: 100px;

    }
}

/* for x-large */
@media only screen and (min-width:1001px) and (max-width: 2000px) {}