<!-- <h2 class="text-center">Our Latest Blog & News</h2>

<div class="row row-cols-1  row-cols-md-3 mt-4 container mx-auto">
    <div class="card">
        <img src="../../../assets/HomePage-images/Rectangle 27.png" class="card-img-top" alt="image-not-found">
        <div class="card-body">
            <h5 class="card-title">Development</h5>
            <p class="card-text">The top 7 development trends for 2023</p>
        </div>
        <div class="card-footer">
            <small class="author">By Abdul Rehman</small>
            <small class="text-muted">Jan 31, 2023</small>
        </div>
    </div>
    
    <div class="card">
        <img src="../../../assets/HomePage-images/Rectangle 26.png" class="card-img-top" alt="image-not-found">
        <div class="card-body">
            <h5 class="card-title">UI/UX Design</h5>
            <p class="card-text">The top 7 UI/UX Design trends for 2023 </p>
        </div>
        <div class="card-footer">
            <small class="author">By Abdul Rehman</small>
            <small class="text-muted">Jan 31, 2023</small>
        </div>
    </div>
  
    <div class="card">
        <img src="../../../assets/HomePage-images/Rectangle 28.png" class="card-img-top" alt="image-not-found">
        <div class="card-body">
            <h5 class="card-title">SEO & SEM</h5>
            <p class="card-text">The top 7 SEO & SEM trends for 2023.</p>
        </div>
        <div class="card-footer">
            <small class="author">By Abdul Rehman</small>
            <small class="text-muted">Jan 31, 2023</small>
        </div>
    </div>
</div> -->