<div>
    <div class="banner">

        <div class="row">
            <div class="row text-center  ">
                <h1> About Us.</h1>

            </div>
            <div class="row head text-center mt-4 ">
                <h6>Lorem Ipsum is simply dummy text of the printing and <br>typesetting industry. Lorem Ipsum has been
                    the
                    industry's standard dummy text ever.</h6>
            </div>
            <div class="row mt-4 app_button">
                <button type="button" class="btn btn-primary  b1">Get Started</button>
                <button type="button" class="btn btn-secondary  b2">Get in Touch</button>

            </div>

        </div>
    </div>

    <div>
        <div class="container mt-4">
            <div class="row mt-4">
                <div class="col-md-6">
                    <div class="class-text about1">
                        About Us
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-12 about2">
                    <p>Pellentesque nec risus commodo, tempor sem a, tincidunt nibh. Duis mattis ut enim nec dignissim.
                        Maecenas
                        efficitur id magna vel consectetur. Vivamus lacinia semper imperdiet. Quisque ac lorem eros.
                        Class
                        aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi
                        lobortis,
                        lacus ac viverra porta, ipsum lectus ornare augue, ut congue ipsum turpis id leo. Integer
                        fringilla
                        cursus odio, nec sagittis augue porta eu. Vivamus sit amet dolor nulla. Etiam tempus libero eu
                        dolor
                        maximus gravida. Praesent placerat arcu et neque laoreet, sed venenatis arcu egestas.
                        Suspendisse
                        porttitor turpis sem, nec ultricies neque mattis at. Nulla imperdiet dictum tellus, iaculis
                        volutpat
                        orci ornare in. Cras posuere metus quis odio tempor accumsan. Pellentesque nec risus commodo,
                        tempor sem
                        a, tincidunt nibh. Duis mattis ut enim nec dignissim. Maecenas efficitur id magna vel
                        consectetur.
                        Vivamus lacinia semper imperdiet. Quisque ac lorem eros. Class aptent taciti sociosqu ad litora
                        torquent
                        per conubia nostra, per inceptos himenaeos.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-4">
                <div class="accordion accordion-flush" id="accordionFlushExample">

                    <div class="accordion-item"> <!-- first accordion -->
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseOne" aria-expanded="false"
                                aria-controls="flush-collapseOne">
                                The Rules We Work
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Lorem Ipsum is simply dummy text of the printing and typesetting
                                industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item"> <!-- 2nd accordion -->
                        <h2 class="accordion-header" id="flush-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                aria-controls="flush-collapseTwo">
                                Getting Easier Solutions
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Lorem Ipsum is simply dummy text of the printing and typesetting
                                industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item"> <!-- 3rd accordion -->
                        <h2 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseThree" aria-expanded="false"
                                aria-controls="flush-collapseThree">
                                Working With Passion
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Lorem Ipsum is simply dummy text of the printing and typesetting
                                industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                            </div>
                        </div>

                        <div class="accordion-item"> <!-- 4th accordion -->
                            <h2 class="accordion-header" id="flush-headingfour">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapsefour" aria-expanded="false"
                                    aria-controls="flush-collapsefour">
                                    Preparing The Idea
                                </button>
                            </h2>
                            <div id="flush-collapsefour" class="accordion-collapse collapse"
                                aria-labelledby="flush-headingfour" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">Lorem Ipsum is simply dummy text of the printing and
                                    typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
                                    since the 1500s</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="offset-1 col-md-6  mt-4">
                <img src="../../../../assets/AboutUs-images/About Us.png" class="img-fluid" alt="imagenotfound">
            </div>

        </div>

    </div>
    <div class="container-fluid mt-4 happy">
        <div class="row happy01">
            <div class="offset-1 col-md-1 ">
                <img src="../../../../assets/AboutUs-images/Happy Clients.png" class="img-fluid" alt="imagenotfound">
            </div>
            <div class="col-md-1 happytext">
                <p>
                    258+
                </p>
            </div>
            <div class="offset-1 col-md-1 ">
                <img src="../../../../assets/AboutUs-images/Project Complete.png" class="img-fluid" alt="imagenotfound">
            </div>
            <div class="col-md-1 happytext">
                <p>
                    590K
                </p>
            </div>
            <div class="offset-1 col-md-1 ">
                <img src="../../../../assets/AboutUs-images/Years of Experience.png" class="img-fluid"
                    alt="imagenotfound">
            </div>
            <div class="col-md-1 happytext">
                <p>
                    28+
                </p>
            </div>
        </div>

        <div class="row mt-4">
            <div class="offset-2 col-md-2 happytext2">
                <p>Happy clients</p>
            </div>
            <div class="offset-1 col-md-2 happytext2">
                <p>Project Complete</p>
            </div>
            <div class=" offset-1 col-md-2 happytext2">
                <p>Years of Experience</p>
            </div>

        </div>
    </div>
    <div class="row mt-4">
        <div class="col expert">
            <h3>Meet Expert Team</h3>
        </div>
    </div>
    <div class="row">
        <div class="col dummy">
            <p>Morbi enim ipsum, sodales eget neque in, finibus maximus nibh.<br> Donec iaculis dolor at enim dictum, ac
                vestibulum turpis<br> sodales. Vivamus ipsum mauris.</p>
        </div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        
    </div>