<!-- <div class="row mt-4">
    <div class="offset-2 col-4">
        <div class="input-group abcd">
            <input type="text" class="form-control" placeholder="Job title, keywords, or company">
            <div class=""><fa-icon [icon]="jobs">
            </fa-icon>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="input-group abcd">
            <input type="text" class="form-control" placeholder="Lahore">
            <button type="button" class="btn btn-secondary"><fa-icon [icon]="locate">
                </fa-icon>
            </button>
        </div>
    </div>
    <div class="col">
        <button type="button" class="btn btn-primary button">Find Jobs</button>
    </div>
</div> -->
<div class="row mt-4">
    <div class="col">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">What </span>
            </div>
<div class="input"></div>
        </div>
        <div class="col"></div>
    </div>