.btn-primary {
    background: var(--secondary-color);
    border-radius: 8px;
    color: white;
}

.btn-primary:hover {
    background-color: #5EBE80;
    border: none;
}

.form-control {
    border-left: none;
    border-right: none;
}

.input-group-text {
    background-color: white;
    color: #000000;
}

/* For x-small */
@media only screen and (min-width:200px) and (max-width:400px) {
    .input-group {
        margin: auto !important;
        align-items: center !important;

    }

    .form-control {
        margin: auto !important;
        align-items: center !important;
    }

    .btn-primary {
        margin: auto !important;
        display: flex !important;
        align-items: center !important;
    }
}


/* For small */
@media only screen and (min-width:401px) and (max-width: 576px) {
    .input-group {
        margin: auto !important;
        align-items: center !important;
        width: 450px;

    }

    .form-control {
        margin: auto !important;
        align-items: center !important;
    }

    .btn-primary {
        margin: auto !important;
        display: flex !important;
        align-items: center !important;
    }
}

/* For medium */
@media only screen and (min-width:577px) and (max-width: 768px) {
    .input-group {
        /* margin: auto !important; */
        align-items: center !important;
        width: 450px;

    }

    .form-control {
        /* margin: auto !important; */
        align-items: center !important;
    }

    .btn-primary {
        margin: auto !important;
        display: flex !important;
        align-items: center !important;
    }
}


/* For Large*/
@media only screen and (min-width:769px) and (max-width: 1039px) {
    .input-group {
        /* margin: auto !important; */
        align-items: center !important;
        width: 190px;

    }

    .form-control {
        /* margin: auto !important; */
        align-items: center !important;
    }

    .btn-primary {
        margin: auto !important;
        display: flex !important;
        align-items: center !important;
    }
}


/* For x-Large*/
@media only screen and (min-width:1040px) and (max-width: 1700px) {
    .input-group {
        /* margin: auto !important; */
        align-items: center !important;
        width: 290px;

    }

    .form-control {
        /* margin: auto !important; */
        align-items: center !important;
    }

    .btn-primary {
        margin: auto !important;
        display: flex !important;
        align-items: center !important;
    }
}