<div class="row ">
    <!-- 1st input group -->
    <div class="offset-1 col-md-2 mt-4">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">What</span>
            </div>
            <input type="text" class="form-control" placeholder="Job title, keywords, or company">
            <div class="input-group-append">
                <span class="input-group-text icon"><fa-icon [icon]="jobs">
                    </fa-icon></span>
            </div>
        </div>
    </div>

    <!-- 2nd input group -->
    <div class="offset-1 col-md-2 mt-4">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Where</span>
            </div>
            <input type="text" class="form-control" placeholder="Lahore">
            <div class="input-group-append">
                <span class="input-group-text icon"><fa-icon [icon]="locate">
                    </fa-icon></span>
            </div>
        </div>
    </div>

    <!-- find Jobs Button -->
    <div class="col mt-4">
        <button type="button" class="btn btn-primary">Find Jobs</button>
    </div>

</div>