.button {
    font-family: outfit;
    background: var(--secondary-color);
    border-radius: 8px;
    color: white;
}

.form-control {
    border-left: none;
    border-right: none;
}

.input-group-text {
    background-color: white;
    font-family: outfit;
    color: #000000;
}

/* @media only screen and (min-width:200px) and (max-width:475px) {

    .input-group{
        width: 10%;
        display: inline-block;
    }
} */

/* @media only screen and (min-width:200px) and (max-width:475px){

} */

.portfolio {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 46px;
    color: #000000;
    text-align: center;
}

.btn {

    margin-right: 50px;
}

.btn1 {
    margin-right: 50px;
    margin-left: 320px !important;
}