<div class="container-fluid">
    <div class="row">
        <div class="row text-center">
            <h1>Our Services</h1>
        </div>
        <div class="row head text-center mt-4">
            <h6>We are dedicated to provide top-quality software solutions to our clients, and we take pride in
                delivering software that meets and exceeds their expectations.<br> We strive to stay on top of the latest
                trends and technologies to provide our clients with cutting-edge software solutions.</h6>
        </div>
        <div class="row mt-4">
            <button type="button" class="btn btn-primary">Get Started</button>
            <button type="button" class="btn btn-secondary">Get in Touch</button>
        </div>
    </div>
</div>