<div class="banner">
        
    <div class="row">
        <div class="row text-center heading">
            <h1><span style="color: var(--primary-color);">KS-Technologies</span><span> is a Perfect</span> <br><span>Solutions
                    For your Business.</span>
            </h1>
        </div>
        <div class="row head text-center mt-4 ">
            <h6>Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br> Lorem Ipsum has been
                the
                industry's standard dummy text ever.</h6>
        </div>
        <div class="row mt-4 landingPageBtn">
            <button type="button" class="btn btn-primary  Btn1">Get Started</button>
            <button type="button" class="btn btn-secondary  Btn2">Get in Touch</button>

        </div>

    </div>
</div>