<div class="container-fluid">

    <div class="row">
        <div class="row text-center heading">
            <h1><span style="color: var(--primary-color);">KS-Technologies</span> is a Perfect
                <br>Solutions For your Business.
            </h1>
        </div>
        <div class="row head text-center mt-4">
            <div class="card">
                <div class="card-body">
                    <h6>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                        been the
                        industry's standard dummy text ever.</h6>
                </div>
            </div>

        </div>
        <div class="row mt-4">
            <button type="button" class="btn btn-primary">Get Started</button>
            <button type="button" class="btn btn-secondary">Get in Touch</button>
        </div>
    </div>
</div>