<div class="container-fluid">

    <div class="row">
        <div class="row text heading">
            <h2>KS-Technologies</h2>
            <h1>A Software development company devoted to
                your project's success<br> which accelerate your digital growth with our solutions.
            </h1>
        </div>
        <div class="row head text-center mt-4">
            <!-- <h6>KS-Technologies is a software development company which primarily <br>provides UI/UX designs, web
                applications, mobile applications, SEO.</h6> -->
        </div>
        <div class="row mt-4">
            <!-- <button type="button" class="btn btn-primary">Get Started</button> -->
            <!-- <button type="button" class="btn btn-secondary">Get in Touch</button> -->
        </div>
    </div>
</div>