<div>
    <div class="banner">
        <div class="row">
            <div class="row text-center  ">
                <h1><span style="color: #5EBE80;">KS-Technologies</span><span> is a Perfect</span> <br><span>Solutions
                        For your Business.</span>
                </h1>
            </div>
            <div class="row head text-center mt-4 ">
                <h6>Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br> Lorem Ipsum has been
                    the
                    industry's standard dummy text ever.</h6>
            </div>
            <div class="row mt-4 app_button">
                <button type="button" class="btn btn-primary  b1">Get Started</button>
                <button type="button" class="btn btn-secondary  b2">Get in Touch</button>

            </div>

        </div>
    </div>
    <div class="container-fluid  clients ">
        <div class="row ">
            <div class="  col icon1">
                <img src="../../../assets/Mask group.png" alt="">
            </div>
            <div class="  col icon2">
                <img src="../../../assets/Mask group (1).png" alt="">
            </div>
            <div class="  col icon3">
                <img src="../../../assets/Mask group3.png" alt="">
            </div>
            <div class="  col icon4">
                <img src="../../../assets/Mask group (4).png" alt="">
            </div>
            <div class="  col icon5">
                <img src="../../../assets/Mask group (5).png" alt="">
            </div>
            <div class="  col icon6">
                <img src="../../../assets/Mask group (6).png" alt="">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row row-cols-2 ">
            <div class="col">Column
                <div class="row">
                    <div class="col-xl-4 col-md-4 col-sm-4 mt-3">
                        <button type="button" class="btn btn-primary">Get Started</button>

                    </div>
                    <div class="col-xl-4 col-md-4 col-sm-4 mt-3">
                        <button type="button" class="btn btn-secondary ">Get in Touch</button>
                    </div>
                    <div class="col-xl-4 col-md-4 col-sm-4 mt-3">
                        <button type="button" class="btn btn-secondary ">Get in Touch</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, optio!</p>
                    <a><span style="color: #5EBE80;">KS-Technologies</span></a>
                </div>
            </div>
        </div>
    </div>

</div>