<div>
    <div class="banner">
        <div class="row">
            <div class="row text-center  ">
                <h1><span style="color: #5EBE80;">KS-Technologies</span><span> is a Perfect</span> <br><span>Solutions
                        For your Business.</span>
                </h1>
            </div>
            <div class="row head text-center mt-4 ">
                <h6>Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br> Lorem Ipsum has been
                    the
                    industry's standard dummy text ever.</h6>
            </div>
            <div class="row mt-4 app_button">
                <button type="button" class="btn btn-primary  b1">Get Started</button>
                <button type="button" class="btn btn-secondary  b2">Get in Touch</button>

            </div>

        </div>
    </div>
    <div class="container-fluid  clients ">
        <div class="row ">
            <div class="  col icon1">
                <img src="../../../assets/Mask group.png" class="img-fluid" alt="">
            </div>
            <div class="col icon2">
                <img src="../../../assets/Mask group (1).png"class="img-fluid" alt="">
            </div>
            <div class=" col icon3">
                <img src="../../../assets/Mask group3.png" class="img-fluid"alt="">
            </div>
            <div class="col icon4">
                <img src="../../../assets/Mask group (4).png" class="img-fluid"alt="">
            </div>
            <div class="  col icon5">
                <img src="../../../assets/Mask group (5).png" class="img-fluid"alt="">
            </div>
            <div class="  col icon6">
                <img src="../../../assets/Mask group (6).png" class="img-fluid"alt="">
            </div>
        </div>
    </div>

    <div class="container mt-5 mb-5">
        <div class="row row-cols-2 ">
            <div class="col"><strong>Featured Work</strong>
                <div class="row">
                    <div class="col-xl-4 col-md-4 col-sm-4 mt-3 dev-btn">
                        <button type="button" class="btn btn-primary">Development</button>

                    </div>
                    <div class="col-xl-4 col-md-4 col-sm-4 mt-3  ui-btn">
                        <button type="button" class="btn btn-secondary">UI/UX Design</button>
                    </div>
                    <div class="col-xl-4 col-md-4 col-sm-4 mt-3 seo-btn">
                        <button type="button" class="btn btn-secondary ">SEO & SEM</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div>
                    <p><span style="font-family: Outfit;">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Iusto fuga ex exercitationem in
                            expedita omnis perferendis repellat esse laborum, natus qui eveniet consectetur
                            perspiciatis?
                            Rerum corrupti molestiae voluptatem in tempora.</span></p>
                    <a><span style="color: #29416F; font-weight: 700; font-family: Outfit;">PORTFOLIO</span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12 col-lg-4">
                <img src="../../../assets/Rectangle 5.png" class="rounded " alt="...">
                <p class="mt-2"><span style="font-family: Outfit;"><strong>Website Development</strong></span></p>
            </div>
            <div class="col-md-4 col-sm-12 col-lg-4">
                <img src="../../../assets/Rectangle 7.png" class="rounded " alt="...">
                <p class="mt-2"><span style="font-family: Outfit;"><strong>App Development</strong></span></p>
            </div>
            <div class="col-md-4 col-sm-12 col-lg-4">
                <img src="../../../assets/Rectangle 6.png" class="rounded " alt="...">
                <p class="mt-2"><span style="font-family: Outfit;"><strong>Website Development</strong></span></p>
            </div>
            <div class="col-md-4 col-sm-12 col-lg-4">
                <img src="../../../assets/Rectangle 6.png" class="rounded " alt="...">
                <p class="mt-2"><span style="font-family: Outfit;"><strong>Website Development</strong></span></p>
            </div>
            <div class="col-md-4 col-sm-12 col-lg-4">
                <img src="../../../assets/Rectangle 5.png" class="rounded " alt="...">
                <p class="mt-2"><span style="font-family: Outfit;"><strong>Website Development</strong></span></p>
            </div>
            <div class="col-md-4 col-sm-12 col-lg-4">
                <img src="../../../assets/Rectangle 5.png" class="rounded " alt="...">
                <p class="mt-2"><span style="font-family: Outfit;"><strong>Website Development</strong></span></p>
            </div>

        </div>
    </div>
    <div class="container-fluid ks1">
        <div class="row row-cols-2">
            <div class="col"><strong><span style="color: #29416F; font-weight: 600; font-family: Outfit;">About
                        Us</span></strong>
                <div class="row">
                    <div class="col-xl-4 col-md-4 col-sm-4 mt-3">
                        <p><span
                                style="color: white; font-weight: 500;font-size: x-large; font-family: Outfit;">KS-Technologies</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div>
                    <p><span style="font-family: Outfit;">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Iusto fuga ex exercitationem in
                            expedita omnis perferendis repellat esse laborum, natus qui eveniet consectetur
                            perspiciatis?
                            Rerum corrupti molestiae voluptatem in tempora.</span></p>
                    <a><span style="color: #29416F; font-weight: 700; font-family: Outfit;">Read More</span></a>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container  px-4 py-5" id="featured-3">
            <h2 class="mb-4 mt-4 text-center"> <span style="font-family: Outfit; font-size: 40px;">Service For Clients</span></h2>
            <div class="row  row-cols-1 row-cols-lg-3 dev">
                <div class="feature col ks2">
                    <div class="feature-icon">
                        <img src="../../../assets/Vector (1).png">
                    </div>
                    <h2><span style="color: white; font-family: Outfit;">UI/UX Design</span></h2>
                    <p><span style="color: white; font-family: Outfit;">Paragraph of text beneath the heading to explain
                            the heading. We'll add onto it with another
                            sentence and probably just keep going until we run out of words.</span></p>
                </div>

                <div class="feature col ks3">
                    <div class="feature-icon ">
                        <img src="../../../assets/Vector (1).png">
                    </div>
                    <h2><span style="color: white; font-family: Outfit;">Web Development</span></h2>
                    <p><span style="color: white; font-family: Outfit;">Paragraph of text beneath the heading to explain
                            the heading. We'll add onto it with another
                            sentence and probably just keep going until we run out of words.</span></p>

                </div>
                <div class="feature col ks4">
                    <div class="feature-icon">
                        <img src="../../../assets/Vector (1).png">
                    </div>
                    <h2><span style="color: rgb(8, 8, 8); font-family: Outfit;">SEO Marketing</span></h2>
                    <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another
                        sentence and probably just keep going until we run out of words.</p>

                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container px-4 py-5" id="featured-3">
            <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
                <div class="feature col ks5">
                    <div class="feature-icon">
                        <img src="../../../assets/Vector (a).png">
                    </div>
                    <h2>Data Analysis</h2>
                    <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another
                        sentence and probably just keep going until we run out of words.</p>

                </div>
                <div class="feature col ks6">
                    <div class="feature-icon">
                        <img src="../../../assets/Vector (3).png">
                    </div>
                    <h2>Brand Identify</h2>
                    <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another
                        sentence and probably just keep going until we run out of words.</p>

                </div>
                <div class="feature col ks7">
                    <div class="feature-icon bg-gradient">
                        <img src="../../../assets/Vector (b).png">
                    </div>
                    <h2>App Development</h2>
                    <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another
                        sentence and probably just keep going until we run out of words.</p>

                </div>
            </div>
        </div>
    </div>
    <div> <h2 class="mb-4 mt-2 text-center"> <span style="font-family: Outfit; font-size: 30px;font-weight:600;">Our Latest Blog & News</span></h2></div>
    <div class="card-group container">
        <div class="card">
            <img src="../../../assets/Rectangle 27.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><span style="color: #5EBE80; font-family: outfit;">Development</span></h5>
                <p class="card-text">The top 7 development trends<br>
                    for 2023</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Jan 31, 2023</small>
            </div>
        </div>
        <div class="card">
            <img src="../../../assets/Rectangle 26.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><span style="color: #5EBE80; font-family: outfit;">UI/UX Design</span></h5>
                <p class="card-text">The top 7 UI/UX Design trends for 2023</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Jan 31, 2023</small>
            </div>
        </div>
        <div class="card">
            <img src="../../../assets/Rectangle 28.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><span style="color: #5EBE80; font-family: outfit;">SEO & SEM</span></h5>
                <p class="card-text">The top 7 SEO & SEM trends for 2023.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Jan 31, 2023</small>
            </div>
        </div>
    </div>
    <div> <h2 class="mb-5 mt-5 text-center"> <span style="font-family: Outfit; font-size: 30px;font-weight:600;">Satisfied Clients Say</span></h2></div>
    <div class="row row-cols-1 row-cols-md-3 mt-4 container mx-auto">
        <div class="col box1">
            <div class="card box1">
                <div class="card-body">
                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                        <strong>Ben Arthur</strong>
                        <br><a>Designation</a>
                </div>
            </div>
        </div>
        <div class="col box2">
            <div class="Card box2">
                <div class="card-body">
                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                        <strong>Alex James</strong>
                        <br><a>Designation</a>
                </div>
            </div>
        </div>
        <div class="col box3">
            <div class="card box3">
                <div class="card-body">
                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                    <strong>Jhon</strong>
                    <br><a>Designation</a>
                </div>
            </div>
        </div>
    </div>
</div>