.banner {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../../assets/background/Rectangle4.png);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.banner h1 {
    font-weight: 900;
    font-family: 'Outfit', sans-serif;
}

.banner h6 {
    font-family: 'Outfit', sans-serif;

}

.app_button {
    display: flex;
    justify-content: center;
}

.b1 {
    background-color: #29416F;
    color: white;
    border-radius: 12px;
    border: none;
    font-family: 'Outfit', sans-serif;
    width: 13%;
}

.b2 {
    background-color: rgb(219, 217, 217);
    color: black;
    border-radius: 12px;
    font-family: 'Outfit', sans-serif;
    padding: 10px;
    width: 13%;
    margin-left: 15px;
    border: none !important;

}
.jimmy {
    background-color: #29416F;
    height: 160px;
    width: 100%;
    padding: 40px;
    overflow: hidden;
}
.clients {
    background-color: #29416F;
    padding: 40px;
    overflow: hidden;

}

@media (max-width: 575.98px) { 
    .banner {
        width: 100%;
        height: auto;
        padding: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(../../../assets/background/Rectangle4.png);
        background-size: cover;
        background-position: center;
        overflow: hidden;
    }
    
.head h6{
    font-size: 13px;
}
.app_button .b1
{
    width: 20%;
    margin: 0px !important;
    font-size: 12px;
}
.app_button .b2
{
    width: 20%;
    margin: 0px !important;
    font-size: 12px;
    margin-left: 5px !important ;
}
.icon4
{
    margin-top: 20px ;
}
.icon5
{
    margin-top: 20px ;
}
.icon6
{
    margin-top: 20px ;
}
}
@media (max-width: 767.98px) { 
    .banner {
        width: 100%;
        height: auto;
        padding: 30px;
     
    }
    
    .app_button .b1
{
    width: 20%;
    margin: 0px !important;
    font-size: 12px;
}
.app_button .b2
{
    width: 20%;
    margin: 0px !important;
    font-size: 12px;
    margin-left: 5px !important ;
}
}
@media (max-width: 991.98px) { 
    .banner {
        width: 100%;
        height:50vh;
        padding: 30px;
     
    }
    
    .app_button .b1
{
    width: 20%;
    margin: 0px !important;
    font-size: 12px;
}
.app_button .b2
{
    width: 20%;
    margin: 0px !important;
    font-size: 12px;
    margin-left: 5px !important ;
}
}
@media (max-width: 1200px) { 
    .banner {
        width: 100%;
        height:50vh;
        padding: 30px;
     
    }
 }