<div class="row mt-4">
    <div class="col portfolio">
        <p>Our Portfolio</p>
    </div>
</div>
<div class="row mt-4">
    <div class="col-md-1 btn1">
        <button type="button" class="btn btn-primary button"> Development</button>
    </div>
    <div class="col-md-1 btn">
        <button type="button" class="btn btn-primary button"> Development</button>
    </div>
    <div class="col-md-1 btn">
        <button type="button" class="btn btn-primary button"> Development</button>
    </div>
    <div class="col-md-1 btn">
        <button type="button" class="btn btn-primary button"> Development</button>
    </div>
</div>