.col {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 46px;
    color: #000000;
    text-align: center;
}

.btn-primary {
    margin-left: 190px;
    font-family: 'Outfit';
    background: #29416F;
    border-radius: 8px;
    margin-bottom: 45px;
}

.btn-primary:hover {
    background-color: #5EBE80 !important;
    border: none;
}


.btn-secondary {
    margin-left: 190px;
    font-family: 'Outfit';
    color: #29416F;
    background: #F5F5F5;
    border-radius: 8px;
    margin-bottom: 45px;
}

.btn-secondary:hover {
    border: none;
    color: #F5F5F5;
    background-color: #5EBE80;
}

/* For Mobile*/
@media only screen and (min-width:100px) and (max-width: 500px) {

    .col {
        font-size: 27px;
    }

    .btn-primary {
        width: 80px;
        height: 40px;
        font-size: 10px;

    }

    .btn-primary:hover {
        background-color: #5EBE80 !important;
        border: none;
    }

    .btn-secondary {
        width: 80px;
        height: 40px;
        font-size: 10px;
    }

    .btn-secondary:hover {
        border: none;
        color: #F5F5F5;
        background-color: #5EBE80;
    }

}

/* For large*/
@media only screen and (min-width:501px) and (max-width: 1000px) {


    .col {
        font-size: 31px;
    }

    .btn-primary {
        margin-left: 90px;
    }

    .btn-secondary {

        margin-left: 90px !important;
    }

    .btn-primary:hover {
        background-color: #5EBE80 !important;
        border: none;
    }
}

/* for x-large */
@media only screen and (min-width:1001px) and (max-width: 2000px) {
    .btn-primary {
        margin-left: 220px;

    }

    .btn-primary:hover {
        background-color: #5EBE80 !important;
        border: none;
    }

    .btn-secondary {

        margin-left: 190px;
    }
}