.container-fluid {
    background-color: #29416F;
    padding: 55px;
    overflow: hidden;
}

.row {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 76px;
    letter-spacing: -0.5px;
    color: #FFFFFF;
}

@media (max-width: 575.98px) {
    .container-fluid {
        padding: 15px;
        overflow: hidden;
    }
}

@media (max-width: 767.98px) {
    .container-fluid {
        padding: 20px;
        overflow: hidden;
    }
}

@media (max-width: 991.98px) {
    .container-fluid {
        padding: 25px;
        overflow: hidden;
    }
}

@media (max-width: 1200px) {
    .container-fluid {
        padding: 30px;
        overflow: hidden;
    }
}