<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-md-1">
            <img src="../../../../assets/AboutUs-images/Happy Clients.png" class="img-fluid" alt="imagenotfound">
        </div>
        <div class="col-md-1 ">
            <!-- <h1>
                258+
            </h1> -->
            <h5> 10 Happy clients</h5>
        </div>

        <div class="col-md-1">
            <img src="../../../../assets/AboutUs-images/Project Complete.png" class="img-fluid" alt="imagenotfound">
        </div>
        <div class="col-md-1">
            <!-- <h1>
                590K
            </h1> -->
            <h5>15 Project Complete</h5>
        </div>
        <div class="col-md-1">
            <img src="../../../../assets/AboutUs-images/Years of Experience.png" class="img-fluid" alt="imagenotfound">
        </div>
        <div class="col-md-1">
            <!-- <h1>
                28+
            </h1> -->
            <h5> 2 Years of Experience</h5>
        </div>
    </div>
</div>