.container.mt-5.mb-5 {
    padding: 20px;
    margin-top: 70px !important;
}

.title {
    color: var(--black-color);
    font-weight: 700;
    font-size: 40px;
    font-family: Outfit;
    text-decoration: none;
}

.btn-primary {
    background-color: var(--secondary-color);
    color: var(--text-color);
    font-family: Outfit;
    border-radius: 8px;
    padding: 15px 20px;

}

.btn-primary:hover {
    background-color: var(--primary-color);
}

.btn-secondary {
    font-family: Outfit;
    background-color: white;
    color: var(--secondary-color);
    border-radius: 8px;
    padding: 15px 20px;
}

.btn-secondary:hover {
    background-color: var(--primary-color);
    color: var(--text-color);
}

.text {
     
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.5px;
    text-align: left;
}

.text-secondary {
    color: var(--secondary-color);
    font-weight: 550;
     
    font-size: 14px;
    text-decoration: none;
}

/* For Mobile */
@media (max-width: 575.98px) {
    .container.mt-5.mb-5 {
        padding: 10px;
    }

    .row h2 {
        color: var(--black-color);
        font-weight: 600;
        font-size: 16px;

    }

    .text {
        font-size: 12px;
    }

    .btn-primary {
        padding: 10px 5px;
        font-size: 12px;

    }

    .btn-secondary {
        padding: 10px 5px;
        font-size: 12px;
        width: 100px;
    }
}


/* For Tablet*/
@media only screen and (min-width:578px) and (max-width: 1000px) {

    .container.mt-5.mb-5 {
        padding: 10px;
        margin-top: 50px !important;
    }

    .row h2 {
        color: var(--black-color);
        font-weight: 600;
        font-size: 25px;
        text-decoration: none;
    }

    .text {
        font-size: 16px;
    }

    .btn-primary {
        padding: 10px 5px;
        font-size: 14px;
        width: 100px;
    }

    .btn-secondary {
        padding: 10px 5px;
        font-size: 14px;
        width: 100px;
    }
}

@media (max-width: 991.98px) {
    .container.mt-5.mb-5 {
        padding: 10px;
        margin-top: 50px !important;
    }

    .row h2 {
        color: var(--black-color);
        font-weight: 600;
        font-size: 30px;
        text-decoration: none;
    }

    .text {
        font-size: 12px;
    }

    .btn-primary {
        font-size: 14px;
        padding: 10px 5px;
    }

    .btn-secondary {
        font-size: 14px;
        padding: 10px 5px;
        width: 100px;
    }
}

@media (max-width: 1200px) {
    .container.mt-5.mb-5 {
        padding: 10px;
        margin-top: 50px !important;
    }

    .title {
        color: var(--black-color);
        font-weight: 600;
        font-size: 30px;
        text-decoration: none;
    }

    .text {

        font-size: 16px;
    }

    .btn-primary {
        padding: 10px 5px;
        font-size: 14px;
    }

    .btn-secondary {
        padding: 10px 5px;
        font-size: 14px;
    }
}