<div class="container mt-5 mb-5">
    <div class="row row-cols-2 ">
        <div class="col">
            <div class="row">
                <h2 class="title">Featured Work</h2>
            </div>
            <div class="row">
                <div class="col-xl-4 col-md-4 col-sm-5 mt-3">
                    <button type="button" class="btn btn-primary">Development</button>
                </div>
                <div class="col-xl-4 col-md-4 col-sm-5 mt-3">
                    <button type="button" class="btn btn-secondary">UI/UX Design</button>
                </div>
                <div class="col-xl-4 col-md-4 col-sm-5 mt-3">
                    <button type="button" class="btn btn-secondary">SEO & SEM</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div>
                <p class="text"> Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the
                    1500s.</p>
                <a class="text-secondary">PORTFOLIOS</a>
            </div>
        </div>
    </div>
</div>