<div class="container featured mt-5 mb-5">
    <div class="row row-cols-2 ">
        <div class="col"><span
                style="color: #0c0c0c; font-weight: 700;font-size: xx-large; font-family: Outfit;">Featured
                Work</span>
            <div class="row">
                <div class="col-xl-4 col-md-3 col-sm-4 mt-3 dev-btn">
                    <button type="button" class="btn btn">Development</button>

                </div>
                <div class="col-xl-4 col-md-3 col-sm-4 mt-3  ui-btn">
                    <button type="button" class="btn btn-secondary">UI/UX Design</button>
                </div>
                <div class="col-xl-4 col-md-3 col-sm-4 mt-3 seo-btn">
                    <button type="button" class="btn btn-secondary ">SEO & SEM</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div>
                <p><span style="font-family: Outfit;"> Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the
                        1500s.</span></p>
                <a><span style="color: #29416F; font-weight: 550; font-family: Outfit;">PORTFOLIOS</span></a>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-12 col-lg-4">
            <img src="../../../../assets/HomePage-images/Rectangle 5.png" class="rounded " alt="...">
            <p class="mt-2"><span
                    style="font-family: Outfit;font-size: 24px; font-weight: 600; line-height: 30px;">Website
                    Development</span></p>
        </div>
        <div class="col-md-4 col-sm-12 col-lg-4">
            <img src="../../../../assets/HomePage-images/Rectangle 7.png" class="rounded " alt="...">
            <p class="mt-2"><span
                    style="font-family: Outfit;font-size: 24px; font-weight: 600; line-height: 30px;">App
                    Development</span></p>
        </div>
        <div class="col-md-4 col-sm-12 col-lg-4">
            <img src="../../../../assets/HomePage-images/Rectangle 6.png" class="rounded " alt="...">
            <p class="mt-2"><span
                    style="font-family: Outfit;font-size: 24px; font-weight: 600; line-height: 30px;">Website
                    Development</span></p>
        </div>
        <div class="col-md-4 col-sm-12 col-lg-4 ">
            <img src="../../../../assets/HomePage-images/Rectangle edit.png" class="rounded " alt="...">
            <p class="mt-2"><span
                    style="font-family: Outfit;font-size: 24px; font-weight: 600; line-height: 30px;">Website
                    Development</span></p>
        </div>
        <div class="col-md-4 col-sm-12 col-lg-4">
            <img src="../../../../assets/HomePage-images/Rectangle 5.png" class="rounded " alt="...">
            <p class="mt-2"><span
                    style="font-family: Outfit;font-size: 24px; font-weight: 600; line-height: 30px;">Website
                    Development</span></p>
        </div>
        <div class="col-md-4 col-sm-12 col-lg-4">
            <img src="../../../../assets/HomePage-images/Rectangle edit2.png" class="rounded " alt="...">
            <p class="mt-2"><span
                    style="font-family: Outfit;font-size: 24px; font-weight: 600; line-height: 30px;">Website
                    Development</span></p>
        </div>
    </div>
</div>