<div class="row">
    <div class=" offset-2 col ">
        <div class="form-group">
            <label for="inputFirstName">First Name</label>
            <div class="input-group">
              <div class="input-group addon">
                <span class="input-group-addon" id="basic-addon1"><i class="fa fa-user"></i></span>
                <input type="text" class="form-control" id="inputFirstName">
              </div>
            </div>
          </div>
    </div>
    <div class="col">
        <div class="form-group">
            <label for="inputFirstName">First Name</label>
            <div class="input-group">
              <div class="input-group addon">
                <span class="input-group-addon" id="basic-addon1"><i class="fa fa-user"></i></span>
                <input type="text" class="form-control" id="inputFirstName">
              </div>
            </div>
          </div>
    </div>
    <div class="col">
        <button type="button" class="btn btn-primary">Find Jobs</button>
        
    </div>
</div>
