
.dev {
    display: flex;
    justify-content: start;
    overflow: hidden !important;
}

.dev .ks2 {
    padding: 10px;
}
.box1 {

    background-color: #F2F2F2 !important;
    border: none;
    border-bottom: 10px solid #5EBE80 ;
    border-radius: 8px;
}

.box2 {
    background-color: #F2F2F2 !important;
    border: none;
    border-bottom: 10px solid #5EBE80 ;
}

.box3 {
    background-color: #F2F2F2 !important;
    border: none;
    border-bottom: 10px solid #5EBE80 ;
}

.box4{
    background-color: #F2F2F2 !important;
    border: none;
    border-bottom: 10px solid #5EBE80 ;
}
.box5{
    background-color: #F2F2F2 !important;
    border: none;
    border-bottom: 10px solid #5EBE80 ;
}
.box6{
    background-color: #F2F2F2 !important;
    border: none;
    border-bottom: 10px solid #5EBE80 ;
}
.card{
    background: linear-gradient(#5EBE80 0 0) no-repeat;
    background-size: 100% 0%;
    background-position: 0% 100%;
    transition: .4s;  
}
.cardbtm
{
    border-bottom: 10px solid #5EBE80 ; 
}
.card:hover {
    background-color: #5EBE80 !important;
    color: #F2F2F2 !important;
    background-size: 100% 100%;
    transition: .4s;
    cursor: pointer;
  }