<div class="container  px-4 py-5 mt-4" id="featured-3">
    <h2 class="mb-4 mt-4 text-center"> <span style="font-family: Outfit; font-size: 44px;">Service For
            Clients</span></h2>
    <div class="row row-cols-1  row-cols-md-3 mt-4 container mx-auto">
        <div class="col mt-4 ">
            <div class="card">
                <div class="card-body">
                    <div class="feature-icon">
                        <img src="../../../../../assets/HomePage-images/fluent_design-ideas-24-regular.png" alt="image error">
                    </div>
                    <h2><span style="color: rgb(12, 12, 12); font-family: Outfit;">UI/UX Design</span></h2>
                    <p><span style="color: rgb(10, 10, 10); font-family: Outfit;">Paragraph of text beneath the
                            heading to explain
                            the heading. We'll add onto it with another
                            sentence and probably just keep going until we run out of words.</span></p>
                </div>
            </div>
        </div>
        <div class="col mt-4 ">
            <div class="card">
                <div class="card-body">
                    <div class="feature-icon">
                        <img src="../../../../../assets/HomePage-images/tabler_brand-html5.png" alt="image error">
                    </div>
                    <h2>
                        <span style="color: rgb(8, 8, 8); 
                                font-family: Outfit;">Web Development
                        </span>
                    </h2>
                    <p><span style="color: rgb(7, 7, 7); font-family: Outfit;">Paragraph of text beneath the
                            heading to explain
                            the heading. We'll add onto it with another
                            sentence and probably just keep going until we run out of words.</span></p>
                </div>
            </div>
        </div>
        <div class="col mt-4">
            <div class="card">
                <div class="card-body">
                    <div class="feature-icon">
                        <img src="../../../../../assets/HomePage-images/icon-park-outline_trend-two.png" alt="image error">
                    </div>
                    <h2><span style="color: rgb(8, 8, 8); font-family: Outfit;">SEO Marketing</span></h2>
                    <p><span style="color: rgb(5, 5, 5); font-family: Outfit;">Paragraph of text beneath the
                            heading to explain
                            the heading. We'll add onto it with another
                            sentence and probably just keep going until we run out of words.</span></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-cols-1  row-cols-md-3 mt-4 container mx-auto">
        <div class="col  ">
            <div class="card">
                <div class="card-body">
                    <div class="feature-icon">
                        <img src="../../../../assets/HomePage-images/Vector (a).png" alt="image error">
                    </div>
                    <h2><span style="color: rgb(12, 12, 12); font-family: Outfit;">Data Analysis</span></h2>
                    <p><span style="color: rgb(10, 10, 10); font-family: Outfit;">Paragraph of text beneath the
                            heading to explain
                            the heading. We'll add onto it with another
                            sentence and probably just keep going until we run out of words.</span></p>
                </div>
            </div>
        </div>
        <div class="col  ">
            <div class="card">
                <div class="card-body">
                    <div class="feature-icon">
                        <img src="../../../../assets/HomePage-images/Vector (3).png" alt="image error">
                    </div>
                    <h2><span style="color: rgb(8, 8, 8); font-family: Outfit;">Brand Identify</span></h2>
                    <p><span style="color: rgb(7, 7, 7); font-family: Outfit;">Paragraph of text beneath the
                            heading to explain
                            the heading. We'll add onto it with another
                            sentence and probably just keep going until we run out of words.</span></p>
                </div>
            </div>
        </div>
        <div class="col ">
            <div class="card">
                <div class="card-body">
                    <div class="feature-icon">
                        <img src="../../../../assets/HomePage-images/Vector (b).png" alt="image error">
                    </div>
                    <h2><span style="color: rgb(8, 8, 8); font-family: Outfit;">App Development</span></h2>
                    <p><span style="color: rgb(5, 5, 5); font-family: Outfit;">Paragraph of text beneath the
                            heading to explain
                            the heading. We'll add onto it with another
                            sentence and probably just keep going until we run out of words.</span></p>
                </div>
            </div>
        </div>
    </div>
</div>