<div class="row mt-4">
    <div class="offset-1 col mt-4">
        <h1>KS-Technologies Jobs</h1>
    </div>
</div>
<!-- first card -->
<div class="row ">
    <div class="col-md-4  mx-auto">
        <div class="card mx-auto">
            <div class="card-body">
                <h5 class="card-title">UI/UX Designer (Senior)</h5>
                <span class="card-subtitle">Bahria Town,Lahore</span>
                <p class="card-text">We are looking for a UI/UX designer to turn our projects into easy-to-use products
                    for our clients.
                    UI/UX Designer responsibilities include gathering user requirements, designing graphic elements and
                    building navigation components.</p>
                <button class="btn btn-primary">Apply Now</button>
                <h6 class="card-text mt-4">Posted 1 day ago | Hiring 2 candidate for this role | Urgently hiring</h6>
            </div>
        </div>
    </div>
    <!-- 2nd card -->
    <div class="col">
        <div class="card mx-auto">
            <div class="card-body">
                <h5 class="card-title">Graphic Designer</h5>
                <span class="card-subtitle">Bahria Town,Lahore</span>
                <p class="card-text">We are looking for a UI/UX designer to turn our projects into easy-to-use products
                    for our clients.
                    UI/UX Designer responsibilities include gathering user requirements, designing graphic elements and
                    building navigation components.</p>
                <button class="btn btn-primary">Apply Now</button>
                <h6 class="card-text mt-4">Posted 1 day ago | Hiring 2 candidate for this role | Urgently hiring</h6>
            </div>
        </div>
    </div>
</div>

<!-- 3rd card -->
<div class="row mx-auto">
    <div class="col-md-4">
        <div class="card mx-auto">
            <div class="card-body">
                <h5 class="card-title">Senior eCommerce Video Editor</h5>
                <span class="card-subtitle">Bahria Town,Lahore</span>
                <p class="card-text">We are looking for a UI/UX designer to turn our projects into easy-to-use products
                    for our clients.
                    UI/UX Designer responsibilities include gathering user requirements, designing graphic elements and
                    building navigation components.</p>
                <button class="btn btn-primary">Apply Now</button>
                <h6 class="card-text mt-4">Posted 1 day ago | Hiring 2 candidate for this role | Urgently hiring</h6>

            </div>
        </div>
    </div>
    <!-- 4th card -->
    <div class="col">
        <div class="card mx-auto">
            <div class="card-body">
                <h5 class="card-title">Social Media Marketer Intern</h5>
                <span class="card-subtitle">Bahria Town,Lahore</span>
                <p class="card-text">We are looking for a UI/UX designer to turn our projects into easy-to-use products
                    for our clients.
                    UI/UX Designer responsibilities include gathering user requirements, designing graphic elements and
                    building navigation components.</p>

                <button class="btn btn-primary">Apply Now</button>
                <h6 class="card-text mt-4">Posted 1 day ago | Hiring 2 candidate for this role | Urgently hiring</h6>

            </div>
        </div>
    </div>
</div>

<!-- 5th card -->
<div class="row mx-auto">
    <div class=" col-md-4">
        <div class="card mx-auto">
            <div class="card-body">
                <h5 class="card-title">Senior Web Developer</h5>
                <span class="card-subtitle">Bahria Town,Lahore</span>
                <p class="card-text">We are looking for a UI/UX designer to turn our projects into easy-to-use products
                    for our clients.
                    UI/UX Designer responsibilities include gathering user requirements, designing graphic elements and
                    building navigation components.</p>
                <button class="btn btn-primary">Apply Now</button>
                <h6 class="card-text mt-4">Posted 1 day ago | Hiring 2 candidate for this role | Urgently hiring</h6>

            </div>
        </div>
    </div>
    <!-- 6th card -->
    <div class=" col">
        <div class="card mx-auto">
            <div class="card-body">
                <h5 class="card-title">Senior Front End/UI Developer</h5>
                <span class="card-subtitle">Bahria Town,Lahore</span>
                <p class="card-text">We are looking for a UI/UX designer to turn our projects into easy-to-use products
                    for our clients.
                    UI/UX Designer responsibilities include gathering user requirements, designing graphic elements and
                    building navigation components.</p>
                <button class="btn btn-primary">Apply Now</button>
                <h6 class="card-text mt-4">Posted 1 day ago | Hiring 2 candidate for this role | Urgently hiring</h6>

            </div>
        </div>
    </div>
</div>

<!-- Load More Button -->
<div class="row mt-4 mx-auto">
    <div class="col-md-5 mx-auto">
        <button class="btn btn-secondary">Load More</button>
    </div>
</div>