<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1>Contact us</h1>
        </div>
        <div class="row mt-4">
            <div class="offset-1 col-md-2">
                <h4>Email</h4>
            </div>
            <div class="offset-1 col-md-2">
                <h4>info@ks-technologies.net</h4>
            </div>
        </div>
        <div class="row mt-4">

            <div class="offset-1 col-md-2">
                <h4>Number</h4>
            </div>
            <div class="offset-1 col-md-2">
                <h4>(042) 37862807</h4>
            </div>
        </div>
        <!-- <div class="row head text-center mt-4">
            <h6>Lorem Ipsum is simply dummy text of the printing and <br>typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever.</h6>
        </div> -->
        <!-- <div class="row mt-4">
            <button type="button" class="btn btn-primary">Get Started</button>
            <button type="button" class="btn btn-secondary">Get in Touch</button>
        </div> -->
    </div>
</div>