<div class="container-fluid">
    <div class="row">
        <div class="row text-center">
            <h1>PortFolio</h1>
        </div>
        <div class="row head text-center mt-4">
            <h6>We are a team of expert developers, designers, and project managers who are<br> passionate about
                delivering
                high-quality software solutions to our clients.</h6>
        </div>
        <div class="row mt-4">
            <button type="button" class="btn btn-primary">Get Started</button>
            <!-- <button type="button" class="btn btn-secondary">Get in Touch</button> -->
        </div>
    </div>
</div>