<div class="offset-1 row">
    <div class="text">
        <h2>Put your information here!</h2>
    </div>
</div>

<!-- Form Code -->

<!-- First Name -->
<div class="offset-1 row mt-4">
    <div class="col-md-3">
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control">
            <small class="form-text">First Name</small>
        </div>
    </div>
    <!-- Last Name -->
    <div class="col-md-3">
        <div class="form-group">
            <label></label>
            <input type="text" class="form-control">
            <small class="form-text">Last Name</small>
        </div>
    </div>
</div>

<!-- Contact number -->
<div class="offset-1 row mt-4">
    <div class="col-md-6">
        <div class="form-group">
            <label>Contact Number</label>
            <input type="email" class="form-control">
        </div>
    </div>
</div>

<!-- Total Experience -->
<div class="offset-1 row mt-4">
    <div class="col-md-6">
        <div class="form-group">
            <label>Total Experience</label>
            <input type="text" class="form-control">
        </div>
    </div>
</div>

<!-- Current Salary -->
<div class="offset-1 row mt-4">
    <div class="col-md-6">
        <div class="form-group">
            <label>Current Salary</label>
            <input type="text" class="form-control">
        </div>
    </div>
</div>

<!-- Expected Salary -->
<div class="offset-1 row mt-4">
    <div class="col-md-6">
        <div class="form-group">
            <label>Expected Salary</label>
            <input type="text" class="form-control">
        </div>
    </div>
</div>

<!-- upload group code -->

<div class="offset-1 row mt-4">
    <div class="col-md-4">
        <div class="dropzone mt-4">
            <img src="http://100dayscss.com/codepen/upload.svg" class="upload-icon" />
            <input type="file" class="upload-input" />
        </div>
        <button type="button" class="btn-secondary" name="uploadbutton">Upload Resume/CV</button>
    </div>
</div>

<!-- Button  -->
<div class="offset-1 row">
    <div class="col">
        <button type="button" class="btn btn-primary">Continue</button>
    </div>
</div>

<!-- Text Code  -->
<div class="offset-1 row mt-4">
    <div class="text-muted">
        <h6>Having an issue with this application? Contact Us</h6>
    </div>
</div>
