<div>
    <app-landing-page></app-landing-page>
    <app-brands></app-brands>
    <app-feature-work></app-feature-work>
    <app-about></app-about>
    <app-services></app-services>
    <h2 class="mb-4 mt-4 text-center"> <span style="font-family: Outfit; font-size: 30px;font-weight:600;">Our
            Latest Blog & News</span></h2>
    <div class="row row-cols-1  row-cols-md-3 mt-4 container mx-auto">
        <div class="card11">
            <img src="../../../assets/HomePage-images/Rectangle 27.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><span style="color: #5EBE80; font-family: outfit;">Development</span>
                </h5>
                <p class="card-text"><strong>The top 7 development trends for 2023</strong> </p>
            </div>
            <div class="card-footer">
                <small class="author">By Abdul Rehman</small>
                <small class="text-muted">Jan 31, 2023</small>
            </div>
        </div>
        <div class="card12 ">
            <img src="../../../assets/HomePage-images/Rectangle 26.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><span style="color: #5EBE80; font-family: outfit;">UI/UX Design</span>
                </h5>
                <p class="card-text"><strong>The top 7 UI/UX Design trends for 2023</strong> </p>
            </div>
            <div class="card-footer">
                <small class="author">By Abdul Rehman</small>
                <small class="text-muted">Jan 31, 2023</small>
            </div>
        </div>
        <div class="card13">
            <img src="../../../assets/HomePage-images/Rectangle 28.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><span style="color: #5EBE80; font-family: outfit;">SEO & SEM</span></h5>
                <p class="card-text"><strong> The top 7 SEO & SEM trends for 2023.</strong></p>
            </div>
            <div class="card-footer">
                <small class="author">By Abdul Rehman</small>
                <small class="text-muted">Jan 31, 2023</small>HomePage-images/
            </div>
        </div>
    </div>
    <div>
        <h2 class="mb-5 mt-5 text-center">
            <span style="font-family: Outfit; font-size: 30px;font-weight:600;">Satisfied Clients Say</span>
        </h2>
    </div>
    <div class="row row-cols-1  row-cols-md-3 mt-4 container mx-auto">
        <div class="col">
            <div class="card box7">
                <div class="card-body">
                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                    <div class="row">
                        <div class="col">
                            <img src="../../../../assets/HomePage-images/Ellipse 1.png" class="">
                        </div>
                        <div class="col">
                            <strong class="star">Ben Arthur </strong>
                            <h6 class="designate">Designation</h6>
                        </div>
                        <div class="col">
                            <rating style="color: #F2C94C;font-size:18px;" [(ngModel)]="rate" [max]="max"
                                [readonly]="isReadonly"></rating>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card box8">
                <div class="card-body">
                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                    <div class="row">
                        <div class="col">
                            <img src="../../../../assets/HomePage-images/elipse2.png" class="">
                        </div>
                        <div class="col">
                            <strong class="star">Ben Arthur </strong>
                            <h6 class="designate">Designation</h6>
                        </div>
                        <div class="col">
                            <rating style="color: #F2C94C;font-size:18px;" [(ngModel)]="rate" [max]="max"
                                [readonly]="isReadonly"></rating>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col ">
            <div class="card box9">
                <div class="card-body">
                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                    <div class="row">
                        <div class="col">
                            <img src="../../../../assets/HomePage-images/Ellipse 3.png" class="">
                        </div>
                        <div class="col">
                            <strong class="star">Ben Arthur </strong>
                            <h6 class="designate">Designation</h6>
                        </div>
                        <div class="col">
                            <rating style="color: #F2C94C;font-size:18px;" [(ngModel)]="rate" [max]="max"
                                [readonly]="isReadonly"></rating>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>