.banner {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../../assets/HomePage-images/Rectangle4.png);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.banner h1 {
    font-weight: 900;
    font-family: 'Outfit', sans-serif;
}

.banner h6 {
    font-family: 'Outfit', sans-serif;

}

.app_button {
    display: flex;
    justify-content: center;
}

.b1 {
    background-color: #29416F;
    color: white;
    border-radius: 8px;
    border: none;
    font-family: 'Outfit', sans-serif;
    width: 13%;
}

.b1:hover {
    background-color: #5EBE80;
}

.b2 {
    background-color: rgb(219, 217, 217);
    color: black;
    border-radius: 8px;
    font-family: 'Outfit', sans-serif;
    padding: 10px;
    width: 13%;
    margin-left: 15px;
    border: none !important;

}

.b2:hover {
    background-color: #5EBE80;
    color: #F2F2F2;

}

.jimmy {
    background-color: #29416F;
    height: 160px;
    width: 100%;
    padding: 40px;
    overflow: hidden;
}

.clients {
    background-color: #29416F;
    padding: 35px;
    overflow: hidden;


}
.featured{
    padding: 20px;
    margin-top: 70px!important;
}

.dev-btn button {
    background-color: #29416F;
    color: #F2F2F2;
    font-family: Outfit;
    border-radius:8px;
    padding: 15px 20px;
}
.dev-btn button:hover{
    background-color: #5EBE80;
}

.ui-btn button {
    font-family: Outfit;
    background-color: white;
    color: #29416F;
    border-radius:8px;
    padding: 15px 20px;
}
.ui-btn button:hover{
    background-color: #5EBE80;
    color: #F2F2F2;
}

.seo-btn button {
    font-family: Outfit;
    background-color: white;
    color: #29416F;
    border-radius:8px;
    padding: 15px 20px;
}
.seo-btn button:hover{
    background-color: #5EBE80;
    color: #F2F2F2;
}

.ks1 {
    background-color: #5EBE80;
    padding: 100px;
}

.ks2 {
    background-color: #29416F;
}

.ks3 {
    background-color: #5EBE80;


}

.ks4 {
    background-color: #F2F2F2;
    font-family: outfit;
}

.ks5 {
    background-color: #F2F2F2;
    font-family: outfit;
}

.ks6 {
    background-color: #F2F2F2;
    font-family: outfit;
}

.ks7 {
    background-color: #F2F2F2;
    font-family: outfit;
}

.dev {
    display: flex;
    justify-content: start;
    overflow: hidden !important;
}

.dev .ks2 {
    padding: 10px;
}

.card-footer {
    font-family: outfit;
}

.h2 {
    font-family: outfit;
}

.p {
    font-family: outfit;
}

.card-text {
    font-family: outfit;
}

.card-body {
    margin: 8px;
}

.card img {
    border-radius: none !important;
    border: none !important;
}

.card-img-top {
    border-radius: 0px !important;
    border: 0px;
    overflow: hidden;
}

.box1 {

    background-color: #F2F2F2 !important;
    border: none;
    border-bottom: 10px solid #5EBE80 ;
    border-radius: 8px;
}
.card{
    background: linear-gradient(#5EBE80 0 0) no-repeat;
    background-size: 100% 0%;
    background-position: 0% 100%;
    transition: .4s;
    
}
.cardbtm
{
    border-bottom: 10px solid #5EBE80 ; 
}
.card:hover {
    background-color: #5EBE80 !important;
    color: #F2F2F2 !important;
    background-size: 100% 100%;
    transition: .4s;
    cursor: pointer;
  }
  /* {
    background-color: #5EBE80 !important;
    color: #F2F2F2;
    cursor: pointer;
    transition: 3s ease top;
   
 
} */

.box2 {
    background-color: #F2F2F2;
    border: none;
    border-bottom: 10px solid #5EBE80 ;
}

.box3 {
    background-color: #F2F2F2;
    border: none;
    border-bottom: 10px solid #5EBE80 ;
}

.box4{
    background-color: #F2F2F2;
    border: none;
    border-bottom: 10px solid #5EBE80 ;
}
.box5{
    background-color: #F2F2F2;
    border: none;
    border-bottom: 10px solid #5EBE80 ;
}
.box6{
    background-color: #F2F2F2;
    border: none;
    border-bottom: 10px solid #5EBE80 ;
}
.box7{
    background-color: #F2F2F2;
    border: none;
}
.box8{
    background-color: #F2F2F2;
    border: none;
}
.box9{
    background-color: #F2F2F2;
    border: none;
}
.text-muted{
    text-align: end;
}
.card11{
    border: none;
    cursor: pointer;
    /* padding: 25px;
    width:20rem; */
    margin-left: 0px;
}
.card12{
    border: none;
    cursor: pointer;
    /* padding: 25px;
    width:20rem; */
}
.card13{
    border: none;
    cursor: pointer;
    /* padding: 25px;
    width:20rem; */
}
.card-footer{
    border: none;
    background: none;

}
.author{
   margin-right: 120px;
}
.star{
    /* margin-left: 40px; */
    color: #29416F;
    font-family: outfit;
}
.designate{
    /* margin-left: 110px; */
    color: #29416F;
    font-family: outfit;
}

@media (max-width: 575.98px) {
    .banner {
        width: 100%;
        height: auto;
        padding: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(../../../assets/HomePage-images/Rectangle4.png);
        background-size: cover;
        background-position: center;
        overflow: hidden;
    }

    .head h6 {
        font-size: 13px;
    }

    .app_button .b1 {
        width: 20%;
        margin: 0px !important;
        font-size: 12px;
    }

    .app_button .b2 {
        width: 20%;
        margin: 0px !important;
        font-size: 12px;
        margin-left: 5px !important;
    }

    .icon4 {
        margin-top: 20px;
    }

    .icon5 {
        margin-top: 20px;
    }

    .icon6 {
        margin-top: 20px;
    }
}

@media (max-width: 767.98px) {
    .banner {
        width: 100%;
        height: auto;
        padding: 30px;

    }

    .app_button .b1 {
        width: 20%;
        margin: 0px !important;
        font-size: 12px;
    }

    .app_button .b2 {
        width: 20%;
        margin: 0px !important;
        font-size: 12px;
        margin-left: 5px !important;
    }
}

@media (max-width: 991.98px) {
    .banner {
        width: 100%;
        height: 50vh;
        padding: 30px;

    }

    .app_button .b1 {
        width: 20%;
        margin: 0px !important;
        font-size: 12px;
    }

    .app_button .b2 {
        width: 20%;
        margin: 0px !important;
        font-size: 12px;
        margin-left: 5px !important;
    }
}

@media (max-width: 1200px) {
    .banner {
        width: 100%;
        height: 50vh;
        padding: 30px;

    }
}