

.card-footer {
    font-family: outfit;
}

.h2 {
    font-family: outfit;
}

.p {
    font-family: outfit;
}

.card-text {
    font-family: outfit;
}

.card-body {
    margin: 8px;
}

.card img {
    border-radius: none !important;
    border: none !important;
}

.card-img-top {
    border-radius: 0px !important;
    border: 0px;
    overflow: hidden;
}


  /* {
    background-color: #5EBE80 !important;
    color: #F2F2F2;
    cursor: pointer;
    transition: 3s ease top;
   
 
} */

.box7{
    background-color: #F2F2F2;
    border: none;
}
.box8{
    background-color: #F2F2F2;
    border: none;
}
.box9{
    background-color: #F2F2F2;
    border: none;
}
.text-muted{
    text-align: end;
}
.card11{
    border: none;
    cursor: pointer;
    /* padding: 25px;
    width:20rem; */
    margin-left: 0px;
}
.card12{
    border: none;
    cursor: pointer;
    /* padding: 25px;
    width:20rem; */
}
.card13{
    border: none;
    cursor: pointer;
    /* padding: 25px;
    width:20rem; */
}
.card-footer{
    border: none;
    background: none;

}
.author{
   margin-right: 120px;
}
.star{
    /* margin-left: 40px; */
    color: #29416F;
    font-family: outfit;
}
.designate{
    /* margin-left: 110px; */
    color: #29416F;
    font-family: outfit;
}

@media (max-width: 575.98px) {
    .banner {
        width: 100%;
        height: auto;
        padding: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(../../../../assets/HomePage-images/Rectangle4.png);
        background-size: cover;
        background-position: center;
        overflow: hidden;
    }

    .head h6 {
        font-size: 13px;
    }

    .app_button .b1 {
        width: 20%;
        margin: 0px !important;
        font-size: 12px;
    }

    .app_button .b2 {
        width: 20%;
        margin: 0px !important;
        font-size: 12px;
        margin-left: 5px !important;
    }

    .icon4 {
        margin-top: 20px;
    }

    .icon5 {
        margin-top: 20px;
    }

    .icon6 {
        margin-top: 20px;
    }
}

@media (max-width: 767.98px) {
    .banner {
        width: 100%;
        height: auto;
        padding: 30px;

    }

    .app_button .b1 {
        width: 20%;
        margin: 0px !important;
        font-size: 12px;
    }

    .app_button .b2 {
        width: 20%;
        margin: 0px !important;
        font-size: 12px;
        margin-left: 5px !important;
    }
}

@media (max-width: 991.98px) {
    .banner {
        width: 100%;
        height: 50vh;
        padding: 30px;

    }

    .app_button .b1 {
        width: 20%;
        margin: 0px !important;
        font-size: 12px;
    }

    .app_button .b2 {
        width: 20%;
        margin: 0px !important;
        font-size: 12px;
        margin-left: 5px !important;
    }
}

@media (max-width: 1200px) {
    .banner {
        width: 100%;
        height: 50vh;
        padding: 30px;

    }
}