<div class="banner">

    <div class="row">
        <div class="row text-center  ">
            <h1> About Us.</h1>

        </div>
        <div class="row head text-center mt-4 ">
            <h6>Lorem Ipsum is simply dummy text of the printing and <br>typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever.</h6>
        </div>
        <div class="row mt-4 app_button">
            <button type="button" class="btn btn-primary">Get Started</button>
            <button type="button" class="btn btn-secondary">Get in Touch</button>
        </div>

    </div>
</div>