<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-12 col-lg-4">
            <img src="../../../../assets/HomePage-images/Rectangle 5.png" class="img-fluid" alt="image error">
            <!-- <p class="mt-2">Website Development</p> -->
        </div>
        <div class="col-md-4 col-sm-12 col-lg-4">
            <img src="../../../../assets/HomePage-images/Rectangle 7.png" class="img-fluid" alt="image error">
            <!-- <p class="mt-2">App Development</p> -->
        </div>
        <div class="col-md-4 col-sm-12 col-lg-4">
            <img src="../../../../assets/HomePage-images/Rectangle 6.png" class="img-fluid" alt="image error">
            <!-- <p class="mt-2">Website Development</p> -->
        </div>
        <div class="col-md-4 col-sm-12 col-lg-4 ">
            <img src="../../../../assets/HomePage-images/Rectangle edit.png" class="img-fluid" alt="image error">
            <!-- <p class="mt-2">Website Development</p> -->
        </div>
        <div class="col-md-4 col-sm-12 col-lg-4">
            <img src="../../../../assets/HomePage-images/Rectangle 5.png" class="img-fluid" alt="image error">
            <!-- <p class="mt-2">Website Development</p> -->
        </div>
        <div class="col-md-4 col-sm-12 col-lg-4">
            <img src="../../../../assets/HomePage-images/Rectangle edit2.png" class="img-fluid" alt="image error">
            <!-- <p class="mt-2">Website Development</p> -->
        </div>
    </div>
</div>
<!-- Load More Button -->
<!-- <div class="row mt-4">
    <div class="col-md-4">
        <button class="btn btn-secondary">Load More</button>
    </div>
</div> -->