<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-12 col-lg-4">
            <img src="../../../../assets/image-grid-images/FeatureWork/jihaan.png" class="img-fluid" alt="image error">
            <p class="mt-2">Jihaan Clothing</p>
        </div>
        <div class="col-md-4 col-sm-12 col-lg-4">
            <img src="../../../../assets/image-grid-images/FeatureWork/massenergy.png" class="img-fluid"
                alt="image error">
            <p class="mt-2">Mvintage</p>
        </div>
        <div class="col-md-4 col-sm-12 col-lg-4">
            <img src="../../../../assets/image-grid-images/FeatureWork/palmvilla.png" class="img-fluid"
                alt="image error">
            <p class="mt-2">Palm Villas</p>
        </div>
        <div class="col-md-4 col-sm-12 col-lg-4 ">
            <img src="../../../../assets/image-grid-images/FeatureWork/mvintage.png" class="img-fluid"
                alt="image error">
            <p class="mt-2">Enmassenergy</p>
        </div>
        <div class="col-md-4 col-sm-12 col-lg-4">
            <img src="../../../../assets/image-grid-images/FeatureWork/inglewood.png" class="img-fluid"
                alt="image error">
            <p class="mt-2">Ingle wood coffee roasters</p>
        </div>
        <div class="col-md-4 col-sm-12 col-lg-4">
            <img src="../../../../assets/image-grid-images/FeatureWork/zoey.png" class="img-fluid" alt="image error">
            <p class="mt-2">Zoey</p>
        </div>
    </div>
</div>
<!-- Load More Button -->
<!-- <div class="row mt-4">
    <div class="col-md-4">
        <button class="btn btn-secondary">Load More</button>
    </div>
</div> -->