<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-12 col-lg-4">
            <img src="../../../../assets/HomePage-images/Rectangle 5.png" class="rounded " alt="image error">
            <p class="mt-2"><span
                    style="font-family: Outfit;font-size: 24px; font-weight: 600; line-height: 30px;">Website
                    Development</span></p>
        </div>
        <div class="col-md-4 col-sm-12 col-lg-4">
            <img src="../../../../assets/HomePage-images/Rectangle 7.png" class="rounded " alt="image error">
            <p class="mt-2"><span style="font-family: Outfit;font-size: 24px; font-weight: 600; line-height: 30px;">App
                    Development</span></p>
        </div>
        <div class="col-md-4 col-sm-12 col-lg-4">
            <img src="../../../../assets/HomePage-images/Rectangle 6.png" class="rounded " alt="image error">
            <p class="mt-2"><span
                    style="font-family: Outfit;font-size: 24px; font-weight: 600; line-height: 30px;">Website
                    Development</span></p>
        </div>
        <div class="col-md-4 col-sm-12 col-lg-4 ">
            <img src="../../../../assets/HomePage-images/Rectangle edit.png" class="rounded " alt="image error">
            <p class="mt-2"><span
                    style="font-family: Outfit;font-size: 24px; font-weight: 600; line-height: 30px;">Website
                    Development</span></p>
        </div>
        <div class="col-md-4 col-sm-12 col-lg-4">
            <img src="../../../../assets/HomePage-images/Rectangle 5.png" class="rounded " alt="image error">
            <p class="mt-2"><span
                    style="font-family: Outfit;font-size: 24px; font-weight: 600; line-height: 30px;">Website
                    Development</span></p>
        </div>
        <div class="col-md-4 col-sm-12 col-lg-4">
            <img src="../../../../assets/HomePage-images/Rectangle edit2.png" class="rounded " alt="image error">
            <p class="mt-2"><span
                    style="font-family: Outfit;font-size: 24px; font-weight: 600; line-height: 30px;">Website
                    Development</span></p>
        </div>
    </div>
</div>