.class-text {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 46px;
    margin-top: 30px;
}

.col-md-12 {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.5px;
    text-align: justify;
}

/* For Mobile*/
@media only screen and (min-width:100px) and (max-width: 500px) {
    .class-text {
        font-size: 29px;
    }
}

/* For Tablet*/
@media only screen and (min-width:501px) and (max-width: 1000px) {
    .class-text {
        font-size: 35px;
    }
}

/* For Large Screen*/
@media only screen and (min-width:1001px) and (max-width: 2000px) {}