<div>
    <div class="container mt-4">
        <div class="row mt-4">
            <div class="col-md-6">
                <div class="class-text about1">
                    About Us
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-12 about2">
                <p>Pellentesque nec risus commodo, tempor sem a, tincidunt nibh. Duis mattis ut enim nec dignissim.
                    Maecenas
                    efficitur id magna vel consectetur. Vivamus lacinia semper imperdiet. Quisque ac lorem eros.
                    Class
                    aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi
                    lobortis,
                    lacus ac viverra porta, ipsum lectus ornare augue, ut congue ipsum turpis id leo. Integer
                    fringilla
                    cursus odio, nec sagittis augue porta eu. Vivamus sit amet dolor nulla. Etiam tempus libero eu
                    dolor
                    maximus gravida. Praesent placerat arcu et neque laoreet, sed venenatis arcu egestas.
                    Suspendisse
                    porttitor turpis sem, nec ultricies neque mattis at. Nulla imperdiet dictum tellus, iaculis
                    volutpat
                    orci ornare in. Cras posuere metus quis odio tempor accumsan. Pellentesque nec risus commodo,
                    tempor sem
                    a, tincidunt nibh. Duis mattis ut enim nec dignissim. Maecenas efficitur id magna vel
                    consectetur.
                    Vivamus lacinia semper imperdiet. Quisque ac lorem eros. Class aptent taciti sociosqu ad litora
                    torquent
                    per conubia nostra, per inceptos himenaeos.</p>
            </div>
        </div>
    </div>
</div>